---
import Layout from "@/layouts/Layout.astro"



---

<Layout title="Home" description="Home page."><div class="grid grid-cols-[1fr] grid-rows-[1fr] gap-x-0 gap-y-4">
    <div>
  <h2>My Company</h2><h2></h2><p>Eu volutpat odio facilisis mauris sit amet massa vitae tortor. Semper auctor neque vitae tempus. Quisque egestas diam in arcu cursus. Egestas diam in arcu cursus euismod quis viverra nibh cras. Commodo elit at imperdiet dui accumsan sit amet. Platea dictumst <i>quisque sagittis</i> purus. Quis ipsum suspendisse ultrices gravida dictum fusce ut.</p><p></p><p><a href>Ut placerat orci</a> nulla pellentesque dignissim enim sit. Scelerisque viverra mauris in aliquam sem fringilla. Vehicula ipsum a arcu cursus vitae congue. Lacus luctus accumsan tortor posuere ac ut consequat. Augue eget arcu dictum varius duis at consectetur lorem donec.</p><p></p><p>Tortor pretium viverra suspendisse potenti nullam ac. Pellentesque dignissim enim sit amet venenatis urna. Eget mi proin sed libero enim sed faucibus turpis in.</p>
</div>
  </div></Layout>

  